@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
}

body {
  @apply bg-brand-dark-1;

  &:before {
    content: '';
    position: fixed;
    background-image: url('../images/pizzeria-bg.jpg');
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
  }
}

.container {
  @apply mx-auto px-4;
  width: 100%;
  @screen md {
    @apply px-4;

    max-width: 1436px;
  }
}

#hero {
  div:first-child {
    transition: opacity 0.25s ease-in-out;
  }

  h1 {
    line-height: 1.25;
  }
}

.mt-header {
  margin-top: 80px;
}
.h-80px {
  height: 80px;
}
.container {
  @apply px-4 mx-auto;
}

.absolute-center {
  top: 50%;
  transform: translateY(-50%);
}

.absolute-center.no-large {
  @screen lg {
    transform: initial;
  }
}

@supports (-webkit-touch-callout: none) {
  .fixed-image-background {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@supports not (-webkit-touch-callout: none) {
  .fixed-image-background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.gradient-dark-background {
  background: linear-gradient(180deg, #323232 0%, #474747 45%, #323232);
}

.h-60px {
  height: 60px;
}

.perche-noi-vantaggi-background::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-image: url('../images/bakkano-ristoranti-bg.jfif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
